{% extends 'base.html' %}
{% load static %}

{% block content %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% endblock %}
<form method="post" style="width: 400px; height: 350px;">
    <h1 style="color: black; margin-bottom: 30px;">Log In</h1>
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" name="username" placeholder="GeorgeS" required><br>
    <label for="password">Password:</label>
    <input type="password" name="password" placeholder="*************" required><br><br>
    <button type="submit">Login</button><br>
   
</form>
{% endblock %}