{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block head %}
{% include 'header.html' %}
<link rel="stylesheet" href="{% static 'css/tables.css' %}">
    {% endblock %}
   
<h1 class="-header">Appointments</h1>

<table border="1">
    <thead>
        <tr>
            <th>Pet Name</th>
            <th>Owner Name</th>
            <th>Date</th>
            <th>Time</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for appointment in appointments %}
            <tr>
                <td>{{ appointment.pet_name }}</td>
                <td>{{ appointment.owner_name }}</td>
                <td>{{ appointment.date }}</td>
                <td>{{ appointment.time }}</td>
                <td>{{ appointment.description }}</td>
                <td>
                    <a style="background-color: rgb(87, 87, 214); color: white; padding:7px; border: none; border-radius: 10px; text-decoration: none; margin-right: 10px;" href="{% url 'appointment_detail' appointment.pk %}">&nbsp;View</a>
                    <a style="background-color: #44af47;color:  white; padding:7px; border: none; border-radius: 10px; text-decoration: none; margin-right: 10px;" href="{% url 'appointment_update' appointment.pk %}">&nbsp;Resched </a>

                    <!-- Delete Button -->
                    <form action="{% url 'appointment_delete' appointment.pk %}" method="post" style="display:inline;">
                        {% csrf_token %}
                        <button style="background-color: #dc3545; color: white; padding: 10px; border: none; border-radius: 10px;" type="submit" onclick="return confirm('Are you sure you want to remove this appointment?');">Done</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}
