
{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'header.html' %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
    {% endblock %}
<h1 style="color: black;">{% if appointment %}Resched{% else %}Create{% endif %} Appointment</h1>
<form method="post">
    {% csrf_token %}
    {% if appointment %}
    <label style="display: none;" for="pet_name">Pet Name:</label>
    
    <input style="border: none;" type="hidden" id="pet_name" name="pet_name" value="{{ appointment.pet_name|default:'' }}" readonly>
   {% else %}
   <label for="pet_name">Pet Name:</label>
   <input type="text" id="pet_name" name="pet_name" value="{{ appointment.pet_name|default:'' }}" required>
   {% endif %}
    <br>
    {% if appointment %}
    <label style="display: none;" for="owner_name">Owner Name:</label>
    
    <input  type="hidden" id="owner_name" name="owner_name" value="{{ appointment.owner_name|default:'' }}" readonly>
    {% else %}
    <label style="display: none;" for="owner_name">Owner Name:</label>
    <input type="text" id="owner_name" name="owner_name" value="{{ appointment.owner_name|default:'' }}" required>
    {% endif %}
    <br>
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="{{ appointment.date|default:'' }}" required>
    <br>
    <label for="time">Time:</label>
    <input type="time" id="time" name="time" value="{{ appointment.time|default:'' }}" required>
    <br> 
     {% if appointment %}
    <label  for="description">Description:</label>
  
    <textarea  style="display: none;" id="description" name="description" readonly>{{ appointment.description|default:'' }}</textarea>
    {% else %}
    <label for="description">Description:</label>
    <textarea id="description" name="description" required>{{ appointment.description|default:'' }}</textarea>
    {% endif %}
    <br>
    <button type="submit">Save</button>
</form>
<a href="{% url 'appointment_list' %}">Cancel</a>
{% endblock %}